.search-bar {
	margin: 20px;
	text-align: center;
}

.search-bar input {
	width: 75%
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.canvas-style {
  height: 500px;
  border-style: solid;
  border-width: 5px;

}

<<<<<<< HEAD
.toolbar {
  text-align: center;
}

.btn-toolbar{
  text-align: center;
  @include button-variant(red, orange, blue);
}